body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #ffd500;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

/*.navbaree {
  background: linear-gradient(270.17deg, #FFFFFF 69.52%, rgba(255, 255, 255, 0.1) 103.28%);
}*/